<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
    	<add key="CorpusPath" value="./en/test_book_new.txt,./en/test_dvd_new.txt,./en/test_music_new.txt,./en/label_book_new.txt,./en/label_dvd_new.txt,./en/label_music_new.txt" />
    	 <add key="CorpusPath_Copy" value="./cn/test_book_new.txt,./cn/test_dvd_new.txt,./cn/test_music_new.txt,./cn/label_book_new.txt,./cn/label_dvd_new.txt,./cn/label_music_new.txt" />
    	 
    	 <add key="DictionaryPath_Copy" value="./en/CHIENDict.txt" />
    	 <add key="DictionaryPath" value="./cn/CHICNDict.txt" />
    	 
    	 <add key="WordListPathZh" value="/home/laboratory/wordlist3" />
    	 <add key="ParagraphTagn" value="n" />
    	 <add key="ParagraphTagp" value="p" />
    	 <add key="NegativeWords" value="no,never,little,few,none,hardly,seldom,neither,不,没,无,否,非,未能,没有,不会" />
    	 <add key="WindowSize" value="2" />
    	 <add key="IsDictFormatNormal" value="false"/>
    	 
  	</appSettings>
  
  </configuration>